@import "../../assets/style.vars.scss";
@import "~swiper/swiper-bundle.css";

.container {
    position: relative;

    h2 {
        margin-bottom: 2rem;
    }

    .swiper-container {

        .swiper-wrapper {
    
            .swiper-slide {
    
                .preview-image {
                    width: 100%;
                    padding-top: 56.25%;
                    position: relative;
                    border-radius: 20px 20px 0 0;
                    overflow: hidden;
    
                    img {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
    
                .text-content {
                    color: $primaryColor;
                    padding: 1rem 1.25rem;
    
                    h4 {
                        margin: 1rem 0 1.75rem;
                    }
                    h5, p {
                        margin: 1rem 0;
                    }
                }
    
                .cta {
                    width: 100%;
                    height: 10%;
                    cursor: pointer;
                    padding: .5rem 1rem;
                    border-radius: 0 0 20px 20px;
    
                    a {
                        font-size: 1rem;
                    }
                }
    
            }
        }
    }
    
    .swiper-button {
        border: 1px solid $gray;
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        margin-top: -1.25rem;
        background-color: #fff;
        box-shadow: -1px 0px 7px $gray;

        &.swiper-button-disabled {
            display: none;
        }

        &.swiper-button-prev {
            margin-left: -2.5rem;
        }
        &.swiper-button-next {
            margin-right: -2.5rem;
        }
    }
}

@media (max-width: 575.75px) {
    .container,
    .w-90 {
        width: 80%;

        .swiper-container .swiper-wrapper .swiper-slide .text-content {
            padding: 1rem 1.5rem;
        }
        .swiper-button {
            display: none;
        }
    }
}

@media ($largeQuery) {
    .container,
    .w-90 {
        position: relative;
    
        h2 {
            margin-bottom: 2rem;
        }
    
        .swiper-container {
    
            .swiper-wrapper {
        
                .swiper-slide {
                    padding: 0 .3rem;
                }
            }
        }
    }
}