@import "../../assets/style.vars.scss";

header {
    background-color: $blue;
    color: $white;
    margin-bottom: 2rem;
}

@media ($tabletQuery) {
    header {
        margin-bottom: 1rem;
    }
}
@media ($mobileQuery) {
    header {
        margin-bottom: unset;
    }
}