<section id="footer" class="p-tb-3 primary-colors-inverted">
    <div class="w-80 m-0-auto d-flex">
        <div class="content-wrapper w-100 d-flex">
            <div class="text-content content-left w-50 d-flex">
                <div class="inner w-70 d-flex flex-column">
                    <div class="img-container">
                        <img src="../../assets/media/logo-footer.png" alt="footer-logo">
                    </div>
                    <p>Online marketplace, where you can sell your stuff in support of the charity of campaign you choose.</p>
                    <div class="social-media-icons d-flex">
                        <a class="icon-wrapper">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a class="icon-wrapper">
                            <i class="fa fa-instagram"></i>
                        </a>
                        <a class="icon-wrapper">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="text-content content-middle w-25 d-flex flex-column">
                <h5 class="m-b-1">AllGood</h5>
                <a class="icon-wrapper">About Us</a>
                <a class="icon-wrapper">Contact</a>
                <a class="icon-wrapper">Help</a>
            </div>

            <div class="text-content content-right w-25 d-flex flex-column">
                <h5 class="m-b-1">Charities</h5>
                <a class="icon-wrapper">Charity/campaign partners</a>
                <a class="icon-wrapper">Sign up Charity/campaign</a>
            </div>
        </div>
        <div class="copyright d-flex flex-row">
            <span>© AllGood 2020. All Rights Reserved</span>
            <a>Privacy Policy</a>
            <a>Terms of Services</a>
        </div>
    </div>
</section>