<section id="fundraise" class="m-tb-5">
    <div class="w-90 primary-colors-inverted p-tb-3 d-flex j-c-center" #fundraiseContainer>

        <div class="text-content d-flex ">
            <h2>Are you a Charity or Organization looking to Fundraise?</h2>
            <p>Want to register with AllGood.market so people can donate the 
                proceeds of their sales to you? Please contact us at info@allgood.market or complete out online form.</p>
            <div class="buttons">
                <button class="btn btn-red scale-hover">Sing up charity/campaign</button>
            </div>
        </div>

        <div class="double-circle"></div>
    </div>
</section>