@import "../../assets/style.vars.scss";

#about-us {

    .container {
        & > h2 {
            margin-bottom: 0.5rem;
        }
        .separator {
            width: 70px;
            height: 2px;
            background: #dbdbfc;
            margin: 1rem auto 2rem;
        }
        .icons {
            display: flex;
            justify-content: space-between;
            width: 960px;
            max-width: 100%;
            margin: 0 auto;
            position: relative;

            &.line-2 {
                margin-top: 90px;
            }

            .video-container {
                position: relative;
                width: 38%;

                h2 {
                    display: none;
                }
            }
        }
    }
}

@media ($tabletQuery) {
    #about-us .container .icons {
        width: 100%;
        overflow-x: scroll;
        flex-wrap: nowrap;

        &.line-2 {
            margin-top: 2rem;

            .video-container,
            .video-container img {
                width: 100%;
            }
            .video-container h2 {
                display: block;
                margin: 2rem 0;
                text-align: center;
            }
        }
    }
}

@media ($finalQuery) {
    #about-us .container .icons {
        width: 1140px;

        &.line-2 {
            margin-top: 100px;
        }
    }
}