@import "../../assets/style.vars.scss";

#about-us {
    .w-90 {
        .w-90 {
            & > h2 {
                margin-bottom: 0.5rem;
            }
            .separator {
                width: 70px;
                height: 2px;
                background: #dbdbfc;
                margin: 1rem auto 2rem;
            }
            .icons {
                display: flex;
                justify-content: space-between;
                width: 960px;
                max-width: 100%;
                margin: 0 auto;
                position: relative;

                &.line-2 {
                    margin-top: 120px;
                }

                .video-container {
                    position: relative;
                    width: 38%;

                    & > div {
                        position: relative;
                    }
                    h2 {
                        display: none;
                    }

                    a {
                        &:hover {
                            opacity: 1;
                        }
                        i {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            font-size: 5.5rem;
                            color: #dd5757;
                            line-height: 3.5rem;
                            background: whitesmoke;
                            border-radius: 50%;

                            &:hover {
                                animation: pulse 1s;
                                box-shadow: 0 0 0 2em rgba(#fff,0);
                            }
                        }
                    } 
                }
            }
        }
    }
}

@keyframes pulse {
    0% { box-shadow: 0 0 0 0 $red; }
}

@media ($tabletQuery) {
    #about-us .w-90 .w-90 .icons {
        width: 100%;
        overflow-x: scroll;
        flex-wrap: nowrap;

        &.line-2 {
            margin-top: 2rem;

            .video-container,
            .video-container img {
                width: 100%;
            }
            .video-container h2 {
                display: block;
                margin: 2rem 0;
                text-align: center;
            }
            .video-container a i {
                font-size: 6.5rem;
            }
        }
    }
}

@media ($largeQuery) {
    #about-us .w-90 .w-90 .icons {
        width: 1140px;

        &.line-2 {
            margin-top: 160px;
        }
    }
}

@media ($skyIsTheLimit) {
    #about-us .w-90 .w-90 .icons {
        width: 1200px;
    }
}