<section id="image-text" class="p-tb-3 primary-colors">
    <div class="w-90 m-0-auto d-flex j-c-center">
        <div class="img-container w-50 d-flex a-c-center">
            <div>
                <img src="../../assets/media/post-preview.png" alt="post preview">
            </div>
        </div>

        <div class="text-content w-50 d-flex j-c-center">
            <h2>Post an Item for sale</h2>
            <p>To post an item for sale - please register<br/>or sign in if you're already registered with allgood.</p>
            <div class="buttons">
                <button class="btn btn-red">Sign Up</button>
                <button class="btn btn-transparent">Sign In</button>
            </div>
        </div>
    </div>
</section>