$white: whitesmoke;
$darkgray: #A9A9A9;
$red: #dd5757;
$green: #22a47b;
$blue: #22315b;
$purple: #6767f4;

$primaryColor: #22315b;
$primaryTextColor: #f5f5f5;

$breakePoint: 767.75px;

// Media queries
$mobileQuery: "max-width: 767.75px";
$tabletQuery: "max-width: 991.75px";
$desktopQuery: "max-width: 1199.75px";
$finalQuery: "min-width: 1200px";