$white: whitesmoke;
$red: #dd5757;
$green: #22a47b;
$blue: #22315b;
$purple: #6767f4;

$breakePoint: 767.75px;

// Media queries
$mobileQuery: "max-width: 767.75px";
$tabletQuery: "max-width: 991.75px";
$desktopQuery: "max-width: 1199.75px";
$finalQuery: "min-width: 1200px";

// font sizes
h1 {
    font-size: 1.5rem;
    line-height: 1.7rem;
}
h2 {
    font-size: 1.4rem;
    line-height: 1.6rem;
}
h3 {
    font-size: 1.3rem;
    line-height: 1.5rem;
}
h4 {
    font-size: 1.2rem;
    line-height: 1.35rem;
}
div, p, span, a {
    font-size: 1rem;
    line-height: 1.2rem;
}

@media ($finalQuery) {
    h1 {
        font-size: 2.2rem;
        line-height: 2.4rem;
    }
    h2 {
        font-size: 1.9rem;
        line-height: 2.1rem;
    }
    h3 {
        font-size: 1.55rem;
        line-height: 1.75rem;
    }
    h4 {
        font-size: 1.35rem;
        line-height: 1.5rem;
    }
    div, p, span, a {
        font-size: 1.1rem;
        line-height: 1.3rem;
    }
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}
.flex-column {
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}
.a-c-center {
    align-content: center;
}
.a-i-center {
    align-items: center;
}
.j-c-center {
    justify-content: center;
}
.j-c-spacebetween {
    justify-content: space-between;
}
.j-c-flexend {
    justify-content: flex-end;
}
.w-30 {
    width: 30%;
}
.w-40 {
    width: 40%;
}
.w-50 {
    width: 50%;
}
.w-90 {
    width: 90%;
}
.ma-w-400p {
    max-width: 400px;
}
.p-b-2 {
    padding-bottom: 2rem;
}

.center {
    text-align: center;
}