@import "./assets/style.vars.scss";

/* You can add global styles to this file, and also import other style files */
/*
    Reset style
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
    Custom style
*/
html {
    overflow-x: hidden;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    max-height: 100%;
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */

    :hover, :visited {
        text-decoration: inherit; /* no underline */
    }
}

// font sizes
h1 {
    font-size: 2rem;
    line-height: 2.15rem;
}
h2 {
    font-size: 1.7rem;
    line-height: 1.85rem;
}
h3 {
    font-size: 1.4rem;
    line-height: 1.65rem;
}
h4 {
    font-size: 1.15rem;
    line-height: 1.4rem;
}
h5 {
    font-size: 1.1rem;
    line-height: 1.4rem; 
}
p, span, a {
    font-size: 1rem;
    line-height: 1.3rem;
}
@media ($mobileQuery) {
    p, span, a {
        font-size: 0.9rem;
    }
}
@media ($largeQuery) {
    h1 {
        font-size: 2.2rem;
        line-height: 2.4rem;
    }
    h2 {
        font-size: 1.9rem;
        line-height: 2.1rem;
    }
    h3 {
        font-size: 1.55rem;
        line-height: 1.75rem;
    }
    h4 {
        font-size: 1.3rem;
        line-height: 1.55rem;
    }
    h5 {
        font-size: 1.15rem;
        line-height: 1.45rem; 
    }
}

/*
    Colors and style
*/
.bgd-primary {
    background-color: $primaryColor;
}
.primary-colors {
    background-color: $primaryColor;
    color: $lightGray;
}

.primary-colors-inverted {
    background-color: $lightGray;
    color: $primaryColor;

    p, span {
        color: $darkGray;
    }
}
.primary-colors-gray {
    background-color: $gray;
    color: $primaryColor;

    span, p {
        color: $primaryColor;
    }
}

.red {
    color: $red;
}

.btn {
    color: $primaryTextColor;
    border: 1px solid $primaryTextColor;
}
.btn-red {
    background-color: $red;
    border-color: $red;
}
.btn-transparent {
    background-color: transparent;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}
.flex-column {
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}
.a-c-center {
    align-content: center;
}
.a-i-center {
    align-items: center;
}
.j-c-center {
    justify-content: center;
}
.j-c-spacebetween {
    justify-content: space-between;
}
.j-c-flexend {
    justify-content: flex-end;
}
.w-30 {
    width: 30%;
}
.w-40 {
    width: 40%;
}
.w-50 {
    width: 50%;
}
.w-80 {
    width: 80%;
}
.w-90 {
    width: 90%;
}
.m-0-auto {
    margin: 0 auto;
}
.p-tb-3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.ma-w-400p {
    max-width: 400px;
}
.p-b-2 {
    padding-bottom: 2rem;
}

.center {
    text-align: center;
}


.container {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}
@media ($mobileQuery) {
    .w-90 {
        width: 80%;
    }

    .container, .w-90 {
        width: 80%;

        & > .w-90 {
            width: 100%;
        }
    }

}