<div id="hero">
    <div class="container p-b-2">
        <div class="inner d-flex j-c-center w-90 m-0-auto">
            <div class="icon-list d-flex a-c-center w-50 ma-w-400p">
                <div *ngFor="let item of heroList" 
                class="list-element {{ item.color }}">
                    <div class="icon-wrapper {{ item.color }}">
                        <fa-icon [icon]="item.icon"></fa-icon>
                    </div>
                    <span>{{ item. text }}</span>
                </div>
            </div>

            <div class="img-container d-flex w-50">
                <img [src]="image" alt="hero-image">
            </div>
        </div>
    </div>
    <div class="bottom-elipse"></div>
</div>
