<div id="navigation">
    <div class="container">
            <nav class="navbar d-flex j-c-spacebetween">
                <a href="javascript:void(0)" class="navbar-brand w-30">
                    <img [src]="brandImage" alt="allgood logo">
                </a>

                <ul class="navbar-nav navbar-left d-flex j-c-center w-40">
                    <li class="nav-item current-item">
                        <a href="javascript:void(0)" class="active">Search items</a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)">Post items</a>
                    </li>
                </ul>

                <ul class="navbar-nav navbar-right d-flex j-c-flexend w-30">
                    <li class="nav-item no-underline">
                        <a href="javascript:void(0)"><fa-icon [icon]="faEnvelope"></fa-icon></a>
                    </li>
                    <li class="nav-item no-underline">
                        <a href="javascript:void(0)"><fa-icon [icon]="faBell"></fa-icon></a>
                    </li>
                    <li class="nav-item no-underline dropdown">
                        <a class="dropdown-toggle" href="javascript:void(0)">
                            <img src="../../../assets/media/me-small.jpg" />
                            <span>goran</span>
                            <fa-icon [icon]="faChevronDown"></fa-icon>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <p class="logged-user">Goran Teodorovic</p>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Your profile</a>
                            <a class="dropdown-item" href="#">Lorem ipsum</a>
                            <a class="dropdown-item" href="#">Dolor sit omet</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Help</a>
                            <a class="dropdown-item" href="#">Sign out</a>
                        </div>
                    </li>
                </ul>
            </nav>

            <div class="navbar-forms">
                <div class="search-form">
                    <form action="" class="d-flex">
                        <input type="text" placeholder="{{ searchInputPlaceholderText }}" />
                        <input type="text" placeholder="Category" />
                        <input type="text" placeholder="Charity" />
                        <button type="submit"><fa-icon [icon]="faSearch"></fa-icon></button>
                    </form>
                </div>
            </div>
    </div>
</div>